<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-8">
      <h1>Add a dose</h1>
      <%= simple_form_for([@cocktail, @dose]) do |f| %>
        <%= f.association :ingredient, class: "select2" %>
        <%= f.input :description %>
        <%= f.submit "Add dose", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
